* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  background-color: #00FFC4;
}

body {
  * {
    background-color: #FF3E00;
    font-family: 'Noto Sans JP', sans-serif;

  }
  width: 80%;
  margin: 0 auto;
  background-color: #FF3E00;
}
// nav header//

.nav-link {
  text-decoration: none;
  color: #00FFC4;
  font-size: 1.2rem;
  font-weight: bold;

}


#dourLogo {
  position: absolute;
  overflow: hidden;
  height: 15%;
  max-width: auto;
}

// Carousel content //
.carousel-wrapper {
  * {
  box-sizing: border-box;
  }

  overflow: hidden;
  width: 90%;
}

.carousel {
  transform-style: preserve-3d;
}

.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}
.carousel__button--prev {
  left:0;
}
.carousel__button--next {
  right:0;
}
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

// tab box //
.tab-container> .card {
  height: 50%;
  width: 100%;
  margin: 0 auto;
  border:none;

}

.button-row {
  .button {
    border-color:#B32D00;
    border-bottom: none;
    border-right: none;
    background-color: #B32D00;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 25%;
    color: white;
  }
  margin: 0 auto;
}